body { font-size: 13pt; }

h2 { color: #485;}
h3 { color: #469;}

.row img {width:100%;}

.contact { background-color: #eef; padding-bottom:30px;}

.contact_form {
margin-top: 20px;
padding: 10px 30px 30px 30px;
background-color: #fff;
border-radius: 2px;
-webkit-box-shadow: 0px 3px 1px 0px rgba(211,213,207,0.75);
-moz-box-shadow: 0px 3px 1px 0px rgba(211,213,207,0.75);
box-shadow: 0px 3px 1px 0px rgba(211,213,207,0.75);
}

.firsat {
padding: 5px 30px 30px 30px;
border-width: 1px 1px 0px 1px;
border-style: solid;
border-color: #e7f5e7;
}





/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 400px;
  margin-bottom: 40px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  text-shadow: 5px 5px 5px rgba(0,0,0,.9);
  bbackground:rgba(0,0,16,0.4)
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 400px;
  bbackground-color: #ee0;
}
.carousel .item h1 {
color: #cc9;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 400px;
  opacity:0.89;
}


#koop a {
    display: block;
    font-size:9pt;
    float: left;
    padding-top: 30px;
    padding-bottom: 8px;
    margin-left: 9px;
    margin-right: 9px;
    padding-left: 10px;
    padding-right: 10px;
    color: #757575;
    text-decoration: none;
    width: auto;
    white-space: nowrap;
}

#koopBenz{
	background:url(images/koop-icons.png) no-repeat 50% 0;
}

#koopBenz:hover{
	background-position:50% -70px;
}

#koopVW{
	background:url(images/koop-icons.png) no-repeat 50% -140px;
}

#koopVW:hover{
	background-position:50% -210px;
}

#koop a#koopPorsche{
	background:url(images/koop-icons.png) no-repeat 50% -280px;
	width:81px;
}

#koopPorsche:hover{
	background-position:50% -350px;
}

#koopDHL{
	background:url(images/koop-icons.png) no-repeat 50% -420px;
}

#koopDHL:hover{
	background-position:50% -490px;
}

#koopIASC{
	background:url(images/koop-icons.png) no-repeat 50% -560px;
}

#koopIASC:hover{
	background-position:50% -630px;
}

#koopFresenius{
	background:url(images/koop-icons.png) no-repeat 50% -700px;
}

#koopFresenius:hover{
	background-position:50% -770px;
}

#koopDermatest{
	background:url(images/koop-icons.png) no-repeat 50% -840px;
}

#koopZeitgard{
	background:url(images/koop-icons.png) no-repeat 50% -980px;
}

#koopZeitgard:hover {
	background-position:50% -1050px;
}

#koopDermatest:hover {
	background-position:50% -910px;
}
